@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
    int teller = (int)ViewBag.Teller;
}

<div>
    <ul>
        @for (int i = 1; i < teller; i++)
        {
            <li>
                Dit is de @i uit de viewbag
            </li>
        }
    </ul>
</div>