@model MVCSportsStore.ViewModels.ProductModel

<div>
    <a class="btn border border-secondary m-1" asp-controller="Product" asp-action="Create">Create new Product</a>
    @foreach (var p in Model.Products)
    {
        <partial name="ProductSummary" model="p" />
    }

    <br />
    <page-link paging-info="@Model.PagingInfo"></page-link>

</div>