<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVCSportsStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">SPORT STORE</span>
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <h3>Naviagtion Menu</h3>
        </div>
        <div class="col-3">
            @RenderBody()
        </div>
    </div>

    <footer class="bg-dark">
        <hr />
        <span class="navbar-brand ml-2">
            <a class="btn border border-secondary m-1 text-white" asp-controller="Home" asp-action="Index">Sport Store - Start Page</a>
            <a class="btn border border-secondary m-1 text-white" asp-controller="Settings" asp-action="pagingSettingsView">Sport Store - paging Settings</a>
        </span>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
