<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppMvcClientLocation</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAppMvcClientLocation.styles.css" asp-append-version="true" />
</head>
<body class="d-flex align-items-center">
    <div class="container">
        <header>
            <h1 class="m-5 text-center">PXL Oefening</h1>
        </header>
        <div class="container row m-1 p-1">
            <div class="border border-primary col-3">
                <a asp-controller="Home" asp-action="Index">Home</a>
                <br />
                <a asp-controller="Clients" asp-action="Index">Clients</a>
                <br />
                <a asp-controller="Locations" asp-action="Index">Locations</a>
                <br />
                <a asp-controller="ClientLocations" asp-action="Index">Overview</a>
                <br />
            </div>

            <main role="main" class="pb-3  border border-primary col-9">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - WebAppMvcClientLocation - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>
