<div class="row">
    <a class="btn bg-danger col-1 m-2 p-2"
       asp-controller="Account" asp-action="Register">
        Register
    </a>
    <a class="btn bg-danger col-1 m-2 p-2"
       asp-controller="Account" asp-action="Login">Login</a>
</div>